<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Shopping..</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ICTPRG535_556.styles.css" asp-append-version="true" />
</head>


<body class="light-mode">
    <header>
        <h1>Digital Shopping List</h1>
        <div class="scrolling-marquee">
            <img src="/img/logo.png" alt="Logo" />
        </div>



        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About Us</a></li>
                <li><a href="/Settings">Settings</a></li>
                <li><a href="/Cart/Select">List History</a></li>
                <li><a href="/Login">Login</a></li>

                <li>
                    <a href="/Cart/CurrentCart" class="btn btn-primary" id="cartButton" style="color: white; padding: 5px 15px; border-radius: 5px;">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Cart
                    </a>
                </li>

            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2024 - ICTPRG535-556
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("ValidationScripts", required: false)
    @RenderSection("CustomScripts", required: false)

</body>
</html>
